@font-face {
    font-family: 'gigagloob';
    src: url('https://cdn.jsdelivr.net/gh/vx-comunicacao/fonts@master/gigagloob/gigagloob-black.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/vx-comunicacao/fonts@master/gigagloob/gigagloob-black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gigagloob';
    src: url('https://cdn.jsdelivr.net/gh/vx-comunicacao/fonts@master/gigagloob/gigagloob-bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/vx-comunicacao/fonts@master/gigagloob/gigagloob-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gigagloob';
    src: url('https://cdn.jsdelivr.net/gh/vx-comunicacao/fonts@master/gigagloob/gigagloob-light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/vx-comunicacao/fonts@master/gigagloob/gigagloob-light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gigagloob';
    src: url('https://cdn.jsdelivr.net/gh/vx-comunicacao/fonts@master/gigagloob/gigagloob-medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/vx-comunicacao/fonts@master/gigagloob/gigagloob-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gigagloob';
    src: url('https://cdn.jsdelivr.net/gh/vx-comunicacao/fonts@master/gigagloob/gigagloob-semibold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/vx-comunicacao/fonts@master/gigagloob/gigagloob-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gigagloob';
    src: url('https://cdn.jsdelivr.net/gh/vx-comunicacao/fonts@master/gigagloob/gigagloob-regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/vx-comunicacao/fonts@master/gigagloob/gigagloob-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'gigagloob';
    src: url('https://cdn.jsdelivr.net/gh/vx-comunicacao/fonts@master/gigagloob/gigagloob-thin.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/vx-comunicacao/fonts@master/gigagloob/gigagloob-thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
