
@font-face {
    font-family: 'resolve_sansregular';
    src: url('resolve_sans-webfont.eot');
    src: url('resolve_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('resolve_sans-webfont.woff2') format('woff2'),
         url('resolve_sans-webfont.woff') format('woff'),
         url('resolve_sans-webfont.ttf') format('truetype'),
         url('resolve_sans-webfont.svg#resolve_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'resolve_sansregular_nrw';
    src: url('resolvesans_nrw-webfont.eot');
    src: url('resolvesans_nrw-webfont.eot?#iefix') format('embedded-opentype'),
         url('resolvesans_nrw-webfont.woff2') format('woff2'),
         url('resolvesans_nrw-webfont.woff') format('woff'),
         url('resolvesans_nrw-webfont.ttf') format('truetype'),
         url('resolvesans_nrw-webfont.svg#resolve_sansregular_nrw') format('svg');
    font-weight: normal;
    font-style: normal;
}